<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Snippet Vault</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" (click)="onSelect('snippets')" class="nav-link">Snippets</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="dropdown"><a href="#" class="dropdown-toggle" role="button">Manage</a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
